.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #111;
    flex-wrap: wrap;
}

.logo {
    color: white;
    font-size: 24px;

}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}