.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;

}

.logo {
    color: white;
    font-size: 24px;

}

.nava {
    color: white;
    margin-left: 15px;
    text-decoration: none;

}